$header-bg-color: var(--#{prefix}-header-bg-color, $color-slate-100);

[data-theme='dark'] {
    color-scheme: dark;
    --#{$prefix}-body-bg-color: #0f172a;
    --#{$prefix}-body-text-color: $color-slate-50;
    --#{$prefix}-heading-text-color: $color-slate-50;

    .navbar {
        background-color: #0f172a !important;
        color: $color-slate-50 !important;

        .navbar-toggler {
            background-color: $color-slate-50 !important;
        }

        & li a {
            color: $color-slate-50 !important;
        }
    }

    #offcanvasRight {
        background-color: #0f172a !important;
        color: $color-slate-50 !important;
    }

    .embed-iframe-items::-webkit-scrollbar-thumb {
        background-color: $color-slate-50;

        border-radius: 10px;
    }

    a {
        color: $color-slate-50 !important;
    }

    .card {

        :is(h5, p) {
            color: $color-slate-700;
        }
    }

    .base-experience {
        p {
            color: $color-slate-700;
        }
    }
}