/*INDEX*/
.user_bg {
    height: 22px;
    width: 22px;

}

.logo_Infinity {
    height: 80px;
    width: 80px;
    position: relative;
}

body {
    & main {
        & .row {
            margin-top: 10vh;
        }

        .card {
            text-align: justify;

            img {
                height: 180px;
                width: 180px;
            }
        }

        .base-contact-form {
            h2 {
                text-align: center;
                color: #FFFF;
            }

            .col-auto {
                display: flex;
                background-color: #FFFF !important;
                width: 600px !important;
                height: 100px;
                position: relative !important;
                left: 30%;
                margin-top: 100px;
                padding: 10 0 0 0;
                border-radius: 30px;
                gap: 10px !important;

                .mb-3 {
                    margin-top: 30px !important;
                    border-radius: 10px !important;
                    align-content: center !important;
                }
            }
        }

        .base-partners {
            align-items: center;

            .container-fluid {
                .d-flex {
                    gap: 60px;
                }

                .partners_images {
                    height: 160px;
                    width: 150px;
                }
            }
        }
    }

}